[user]
	name = Felipe
	email = felipeparaizo@gmail.com

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff
    conflictstyle = diff3

[alias]
    tree = log --graph --branches --remotes --tags --decorate --pretty=oneline --abbrev-commit

[difftool]
    prompt = 0
