Xcursor.size: 16

Xterm*termName: xterm-256color

XTerm*Background: black
XTerm*Foreground: white
XTerm*SaveLines: 2000
XTerm*faceName: LiberationMono Nerd Font Book
XTerm*faceSize: 9
XTerm*rightScrollBar: true
XTerm*ScrollBar: false
XTerm*scrollTtyOutput: false
XTerm*VT100.Translations: #override \
      Shift Ctrl<Key>V: insert-selection(CLIPBOARD) 
      Shift Ctrl<Key>V: insert-selection(PRIMARY) 
      Shift<Btn1Down>: select-start() 
      Shift<Btn1Motion>: select-extend() 
      Shift<Btn1Up>: select-end(CLIPBOARD)
